<h2 class="page-title">SpaceX Mission Launch List</h2>

<hr />
<ul>
  <li *ngFor="let mission of missions">
    <a routerLink="details/{{ mission.flight_number }}">
      <mat-card class="example-card" >
        <mat-card-header>
          <img mat-card-avatar src="{{ mission.mission_patch_small }}" />
          <mat-card-title>{{ mission.mission_name }}</mat-card-title>
          <mat-card-subtitle>{{ mission.launch_year }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ mission.details }}</p>
        </mat-card-content>
      </mat-card>
    </a>
  </li>
</ul>
